html{
    background-color: #333;
}
body{
    background-color: gray;
}
.body{
    background-color: #333;
    height: 1500px;
}
.logo{
    float:left;
}
.nav{
    float: right;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li{
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
.h1{
    font-family: Times;
    color: black;
    text-align: center;
}
#h1{
    color: white;
    text-align: center;
}
.category{
    text-align: center;
    color: black;
}
.category a{
    color: #111;
    font-weight: bold;
}
.login{
    text-align: center;
    background-color: grey;
    padding: 50px;
    margin-right: 200px;
    margin-left: 200px;
}
.footer{
    height: 50px;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
}
